body{
    margin: 0%;
    padding: 0%;
}

.contentBox{
    background-color: rgb(231, 224, 215);
}

/* NAV BAR */
.navBox{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap : 36px;
    background-color: white;
    width: 100%;
    height: 80px;
    margin: 6px 24px;
}

.nav-link{
    display: flex;
    gap: 6px;
}
.linkedin-logo{
    height: 60px;
    width: 60px;
}

.navBar{
    width : 800px;
    display: flex;
    flex-direction: row;
    gap: 106px;
    padding: 0px 144px;
}

.topbar-hr{
    border-width: 5px;
    height: 5px;
    border-color: rgb(85, 82, 84);
}
.nav-link{
    text-decoration: none;
}

.nav-item{
    list-style: none;
    gap: 20px;
}

.topbar-icon{
    height: 36px;
    width: 36px;
}

.nav-icon{
    height: 36px;
    width: 36px;
}

.Badge{
    height: 14px;
    width: 14px;
    display: flex;
    border-radius: 999px;
    background-color: rgb(180, 25, 25);
    color: white;
    padding: 6px ;
    justify-content: center;
    align-items: center;
}

.navPremiumBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.topbar-premium-label{
    font-size: 22px;
}


/* PROFILE CARD */
.contentBox{
    display: flex;
    flex-direction: row;
}

.profileCard{
    border-radius: 15px;
    height: 330px;
    width : 250px;
    background-color: white;
    margin: 24px;
    border: 5px;
    border-color: rgb(77, 75, 75);
    position: relative;
}

.profileBg{
    height: 80px;
    width: 100%;
    display: block;
}

.profile-cover{
    position: absolute;
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 999px;
    top: 56px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profileImg{
    height: 75px;
    width: 70px;
    border-radius: 999px;
    display: block;
}

.profile-detail{
    display: block;
    margin: 18px;
    padding-top: 46px;
}

.username{
    font-weight: bold;
    font-size: x-large;
}

.user-detail{
    /* vertical container that counts lines */
    display: -webkit-box;
    /* helps browser to count lines */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 4px;
}

.location{
    color: rgb(167, 161, 161);
    padding-top: 4px;
}

.university{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
    align-items: center;
}

.ic_university{
    height: 36px;
    width: 36px;
    border-radius: 999px;
    position: relative;
}

.university-label{
    font-weight: 550;
}

/*PROMO CARD*/
.premiumPromoCard{
    border-radius: 15px;
    height: 60px;
    width : 228px;
    padding: 12px;
    background-color: white;
    margin: 24px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}

.premiumLabel{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-top: 12px;
}

.premiumHeading{
    color: rgb(167, 161, 161);
}

.premium-text{
    font-weight: 500;
}
/*STATS CARD*/
.statsCard{
    border-radius: 15px;
    height: 54px;
    width : 220px;
    background-color: white;
    margin: 24px;
    padding: 18px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}

.stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 12px;
}
.statsHeader{
    font-weight: 500;
}

.statsLabel{
    font-weight: 500;
    color: rgb(77, 77, 153);
}

/*COLLECTION CARD*/
.collection-card{
    border-radius: 15px;
    height: 120px;
    width : 228px;
    padding: 14px;
    background-color: white;
    margin: 24px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}

.collection-icon{
    height: 2px;
    width: 2px;
}

.collection-items{
    display: flex;
    flex-direction: row;
    padding: 6px;
    gap: 12px;
}

.collection-label{
    /* padding-left: 34px; */
    font-weight: 500;
}

/*FEED BOX*/
/*POST CARD*/
.postCard{
    border-radius: 2px;
    height: 90px;
    width : 550px;
    padding: 16px;
    background-color: white;
    margin: 24px;
    border: 1px;
    border-color: rgb(77, 75, 75);
    border-radius: 12px;
}

.post-TopBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}

.profileImg-post{
    height: 45px;
    width: 45px;
    border-radius: 999px;
}

.postBar{
    /* behaves like text but styles like a box */
    display: inline-flex;
    font-weight: 550;
    font-size: 18px;
    width: 465px;
    height: 38px;
    border: 0.01px solid rgb(172, 168, 168);
    border-radius: 50px;
    align-items: center;
    padding: 0px 18px;
}

.post-BottomBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 18px 0px;
    padding-left: 82px;
    align-items: center;
}

.post-icon-video{
    height: 18px;
    width: 28px;
}

.post-icon-photo{
    height: 18px;
    width: 28px;
}

.post-icon-article{
    height: 18px;
    width: 28px;
}


.post-label{
    font-size: medium;
    font-weight: 500;
    padding-right: 36px;
    padding-left: 4px;
}

/* FEED DIVIDER */
.hr-feed{
    width: 16px;
    height: 2px;
    color: gray;
}
.feed-view{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width : 580px;
    gap: 8px;
}
.feed-view-select{
    font-weight: 400;
    color: gray;
    font-size: 12px;
}

.down-arrow{
    height: 10px;
    width: 10px;
}

.feed-options{
    font-weight: 500;
    font-size: 14px;
}

/*FEED CARD*/
.feed-ProfileBar{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-bottom: 12px;
}

.feedCard{
    border-radius: 2px;
    height: 800px;
    width : 550px;
    padding: 18px;
    background-color: white;
    margin: 24px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}

.feedProfileDetailBar{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.feedProfileDetails{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: rgb(102, 98, 98);
}

.feedProfile{
    height: 60px;
    width: 60px;
    border-radius: 999px;
}

.feed-ProfileName{
    display: flex;
    flex-direction: row;
    font-weight: 700;
    gap: 5px;
}
.feed-icon{
    height: 15px;
    width: 15px;    
}

.profile-metadata{
    font-size: 14px;
    color: gray;
}

.profile-link{
    font-size: 14px;
    color: rgb(65, 65, 150);
}

.followLabel{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: rgb(65, 65, 150);
}

/* FEED */
.feedHeader{
    font-weight: 525;
    padding-bottom: 3px;
}

.feedContent{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 12px;
}

/* REACTION BAR */
.engagebar{
     display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.quick-reactionbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.quick-react-ic{
    height: 20px;
    width: 20px;
}

.reaction-divider{
    height: 1px;
    width: 25px;
    color: gray;
}
.reaction-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.reaction-ic{
    height: 20px;
    width: 20px;
}

.reaction{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*NEWS BOX*/
.newsCard{
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 15px;
    height: 320px;
    width : 240px;
    padding: 18px;
    background-color: white;
    margin: 24px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}

.news-header{
     display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.newsHeader-label{
    font-size: 24px;
    font-weight: 600;
    color: rgb(77, 75, 75);
}

.topStoriesHeader{
    color: gray;
}

.news-col{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.stories-header{
    font-weight: 500;
}

.stories-label{
    color: gray;
    font-size: 14px;
}

.label{
    padding-top: 18px;
}

.puzzleHeader{
    color: rgb(77, 75, 75);
}


.brainyLogo{
    height: 45px;
    width: 40px;
}

.BrainyBar{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.premiumIcon{
    height: 20px;
    width: 20px;
}

.collection-icon{
    height: 20px;
    width: 20px;
}


.suggestionIcon{
    height: 20px;
    width: 20px;
}

.info-icon{
    height: 20px;
    width: 20px;
}


