body{
    margin: 0%;
    padding: 0%;
}

.contentBox{
    background-color: rgb(231, 224, 215);
}

/* NAV BAR */
.navBox{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap : 36px;
    background-color: white;
    width: 100%;
    height: 80px;
    margin: 6px 24px;
}

.nav-link{
    display: flex;
    gap: 6px;
}
.linkedin-logo{
    height: 60px;
    width: 60px;
}

.navBar{
    width : 800px;
    display: flex;
    flex-direction: row;
    gap: 106px;
    padding: 0px 144px;
}

.topbar-hr{
    border-width: 5px;
    height: 5px;
    border-color: rgb(85, 82, 84);
}
.nav-link{
    text-decoration: none;
}

.nav-item{
    list-style: none;
    gap: 20px;
}

.topbar-icon{
    height: 36px;
    width: 36px;
}

.nav-icon{
    height: 36px;
    width: 36px;
}

.Badge{
    height: 14px;
    width: 14px;
    display: flex;
    border-radius: 999px;
    background-color: rgb(180, 25, 25);
    color: white;
    padding: 6px ;
    justify-content: center;
    align-items: center;
}

.navPremiumBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.topbar-premium-label{
    font-size: 22px;
}


/* PROFILE CARD */
.contentBox{
    display: flex;
    flex-direction: row;
}

.profileCard{
    border-radius: 15px;
    height: 330px;
    width : 250px;
    background-color: white;
    margin: 24px;
    border: 5px;
    border-color: rgb(77, 75, 75);
    position: relative;
}

.profileBg{
    height: 80px;
    width: 100%;
    display: block;
}

.profile-cover{
    position: absolute;
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 999px;
    top: 56px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profileImg{
    height: 75px;
    width: 70px;
    border-radius: 999px;
    display: block;
}

.profile-detail{
    display: block;
    margin: 18px;
    padding-top: 46px;
}

.username{
    font-weight: bold;
    font-size: x-large;
}

.user-detail{
    /* vertical container that counts lines */
    display: -webkit-box;
    /* helps browser to count lines */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 4px;
}

.location{
    color: rgb(167, 161, 161);
    padding-top: 4px;
}

.university{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
    align-items: center;
}

.ic_university{
    height: 36px;
    width: 36px;
    border-radius: 999px;
    position: relative;
}

.university-label{
    font-weight: 550;
}

/*PROMO CARD*/
.premiumPromoCard{
    border-radius: 15px;
    height: 60px;
    width : 220px;
    padding: 12px;
    background-color: white;
    margin: 32px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}

.premiumLabel{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-top: 12px;
}

.premiumHeading{
    color: rgb(167, 161, 161);
}

.premium-text{
    font-weight: 500;
}
/*STATS CARD*/
.statsCard{
    border-radius: 15px;
    height: 54px;
    width : 220px;
    background-color: white;
    margin: 24px;
    padding: 18px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}

.stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 12px;
}
.statsHeader{
    font-weight: 500;
}

.statsLabel{
    font-weight: 500;
    color: rgb(77, 77, 153);
}

/*COLLECTION CARD*/
.collectionCard{
    border-radius: 15px;
    height: 100px;
    width : 250px;
    padding: 14px;
    background-color: white;
    margin: 24px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}

.collection-items{
    display: flex;
    flex-direction: row;
    margin: 7px;
}

.collection-label{
    padding-left: 34px;
    font-weight: 600;
}

/*FEED BOX*/
/*POST CARD*/
.postCard{
    border-radius: 2px;
    height: 100px;
    width : 550px;
    padding: 16px;
    background-color: white;
    margin: 24px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}

.post-TopBar{
    display: flex;
    flex-direction: row;
    border: 1px;
    border-color: rgb(100, 94, 94);
    border-radius: 50px;
}

.post-BottomBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px;
    border-color: rgb(100, 94, 94);
    border-radius: 50px;
}

.postBar{
    font-size: large;
}

.post-label{
    font-size: medium;
    font-weight: 500;
    padding-right: 36px;
}

.feed-view{
    align-items: center;
    justify-content: right;
    width : 550px;
}
.feed-view-select{
    font-weight: 400;
    color: gray;
    font-size: 12px;
}

.feed-options{
    font-weight: 500;
    font-size: 14px;
}
/*FEED CARD*/
.feed-ProfileBar{
    display: flex;
    flex-direction: row;
    padding-bottom: 26px;
}
.feedCard{
    border-radius: 2px;
    height: 800px;
    width : 550px;
    padding: 12px;
    background-color: white;
    margin: 24px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}

.suggestionBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feed-profileName{
    font-weight: 700;
    margin: 0px;
}

.profile-metadata{
    font-size: 14px;
    color: gray;
}

.profile-link{
    font-size: 14px;
    color: blue;
}

.followLabel{
    font-size: 14px;
    color: blue;
}

/*NEWS BOX*/
.newsCard{
    border-radius: 15px;
    height: 350px;
    width : 250px;
    padding: 12px;
    background-color: white;
    margin: 24px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}

.newsHeader{
    font-size: 28px;
    justify-content: space-between;
    padding-bottom: 8px;
}

.topStoriesHeader{
    color: gray;
    padding-bottom: 8px;
}

.news-col{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.stories-header{
    font-weight: 500;
}

.stories-label{
    color: gray;
    font-size: 14px;
}

.label{
    padding-top: 18px;
}


.BrainyBar{
    display: flex;
    flex-direction: row;
}

.premiumIcon{
    height: 20px;
    width: 20px;
}

.collection-icon{
    height: 20px;
    width: 20px;
}

.post-icon-video{
    height: 20px;
    width: 20px;
}

.post-icon-photo{
    height: 20px;
    width: 20px;
}

.post-icon-article{
    height: 20px;
    width: 20px;
}

.down-arrow{
    height: 20px;
    width: 20px;
}
s
.suggestionIcon{
    height: 20px;
    width: 20px;
}

.feedProfile{
    height: 20px;
    width: 20px;
}

.feed-ProfileName{
    height: 20px;
    width: 20px;
}

.profile-metadata{
    height: 20px;
    width: 20px;
}

.info-icon{
    height: 20px;
    width: 20px;
}

.brainyLogo{
    height: 20px;
    width: 20px;
}

.feed-icon{
    height: 20px;
    width: 20px;    
}
