body{
    margin: 0%;
    padding: 0%;
}

#contentBox{
    background-color: rgb(231, 224, 215);
}

/* NAV BAR */
#navBox{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 70px;
}
#navBar{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.nav-link{
    display: flex;
    gap: 6px;
}

/* PROFILE CARD */

#profileCard{
    border-radius: 15px;
    height: 250px;
    width : 250px;
    padding: 12px;
    background-color: white;
    margin: 24px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}

#location{
    color: rgb(167, 161, 161);
}

.profile_label{
    font-weight: bold;
}

/*PROMO CARD*/
#premiumPromoCard{
    border-radius: 15px;
    height: 100px;
    width : 250px;
    padding: 12px;
    background-color: white;
    margin: 24px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}

#premiumHeading{
    color: rgb(167, 161, 161);
}

/*STATS CARD*/
#statsCard{
    border-radius: 15px;
    height: 100px;
    width : 250px;
    padding: 12px;
    background-color: white;
    margin: 24px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}

/*COLLECTION CARD*/
#collectionCard{
    border-radius: 15px;
    height: 100px;
    width : 250px;
    padding: 12px;
    background-color: white;
    margin: 24px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}

/*FEED BOX*/
/*POST CARD*/
#postCard{
    border-radius: 2px;
    height: 100px;
    width : 550px;
    padding: 12px;
    background-color: white;
    margin: 24px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}

#postTopBar{
    border: 1px;
    border-color: rgb(100, 94, 94);
    border-radius: 50px;
}

/*FEED CARD*/
#feedCard{
    border-radius: 2px;
    height: 00px;
    width : 550px;
    padding: 12px;
    background-color: white;
    margin: 24px;
    border: 1px;
    border-color: rgb(77, 75, 75);
}
