body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f2ee;
}

.background{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  position: absolute;
  top: 20px;
  left: 40px;
}

.title{
  margin-top: 80px;
  font-weight: 100;
}

.form-container{
  background-color: white;
  width: 330px;
  padding: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

label{
  margin-top: 12px;
  margin-bottom: 2px;
  font-size: 14px;
}

input{
  padding: 10px;
  border: 2px solid rgb(44, 43, 43);
  border: 4px;
}

.password-field{
  position: relative;
}

.show{
  position: absolute;
  font-size: 12px;
  right: 10px;
  color: #3671b4;
}

.checkbox-row{
  display: flex;
  flex-direction: row;
  gap : 6px;
  margin-top: 12px;
  color: rgb(3, 75, 3);
}

.terms{
  font-size: 12px;
  color: gray;
}

.blue-term{
  font-size: 12px;
  color: #3671b4;
}

.join-btn{
  margin-top: 12px;
  padding: 10px;
  border-radius: 24px;
  border: none;
  background-color: #3671b4;
  color: white;
}

.divider{
  text-align: center;
  margin: 24px 0;
  color: gray;
}

.google-login{
  border: 1px solid gray;
  padding: 10px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
}

.google-login-label{
  font-size: 14px;
  font-weight: 500;
}

small{
  font-size: 12px;
  color: gray;
}

.microsoft-login{
  margin-top: 12px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  gap: 4px;
}